#parentBox{
    height: calc(100vh - 108px);
}

#main-cardBody{
    height: calc(100vh - 195px);
    padding-top: 5px;
    overflow: auto;
}

#main-cardFooter{
    padding: 5px;
}

#exportTable_parent {
    height: calc(100vh - 305px)
}

#step_one{
    transform: translateY(15vh);
}

#step_two > #topButtons > div{
    padding: 0px;
}
#topButtons .input-group{
    margin: 0px !important;
}


#exportTable_parent tbody tr td{
    position: relative;
    width: 10%;
}

.delProdFromTable{
    position: absolute;
    top: 10px;
    right: 5px;
    color: #dd3545;
    visibility: hidden;
}

#exportTable_parent tbody tr:hover .delProdFromTable{
    visibility: visible;
}











#testTable{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

#testTable tbody td{
    padding: 10px;
    border: 1px solid #d7dcd7;
}

#testTable tbody tr:first-child td:first-child{
    border-top-left-radius: 5px;
}

#testTable tbody tr:first-child td:last-child{
    border-top-right-radius: 5px;
}

#testTable tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

#testTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}

#testTable tbody td:first-child{
    width: 10%;
    text-align: center;
    text-shadow: 0px 0px 0px rgb(68, 189, 55)
}

#testTable tbody td:last-child{
    width: 90%;
    border-left: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

#testTable tbody td:last-child div{
    padding-top: 20px;
}

#testTable tbody td:last-child div:last-child{
    padding-bottom: 20px;
}

#testTable tbody tr:not(:last-child) td{
    border-bottom: none
}

#testTable tbody td span{
    text-shadow: 0px 0px 0px rgb(142, 189, 137);
}